.section {
    min-height: 195px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    border-bottom: 2px solid #00337e;
    border-left: 2px solid #00337e;
    border-right: 2px solid #00337e;
    padding: 50px;
    background-color: #ffffff;
}

.button{
    background-color: #00337e;
    color: #ffffff;
    border: unset;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 40px;
    font-size: 20px;
    width: 75%;
    margin: 5px auto;

}